.header-line {
    display: flex;
    justify-content: center;
    color: #FFA458;
    font-family: century gothic;
    font-size: 0.8rem;
}

.delete-button {
    background: linear-gradient(to right, #ffa458, #bb3b0b);
    border: solid 0.1rem white;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    min-width: 4.5rem;
    margin-left: 2vw;
    padding: 0.1rem;
    cursor: pointer;
}

.delete-button:hover {
    background: linear-gradient(to right, #bb3b0b, #ffa458);
    scale: 1.05;
}

.logo {
    display: flex;
    justify-content: center;
}