.header-line
{
    display:flex;
    justify-content: center;
    color:#FFA458;
    font-family:century gothic;
    font-size:2vw;
}

.delete-button
{
    background-color:#BA3B0A;
    border:solid 2px #FFA458;
    border-radius:5vw;
    font-size:2vw;
    color:#FFA458;
    width:100px;
    margin-left:2vw;
    cursor:pointer;
}
.delete-button:hover
{
    background-color:#FFA458;
    border-color:#BA3B0A;
    color:#BA3B0A;
}