.user-title {
    font-size: 5vh;
    color: #FFA458;
}

.user-page {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    color: #FFA458;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 20vw;
}

.user-line {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.user-label {
    color: #BA3B0A;
    width: 20vw;
    text-align: left;
}

.user-data {
    color: white;
    width: 50vw;
    text-align: left;
}

.user-message {
    font-size: 3vh;
    color: #FFA458;
}

.user-buttons {
    background: linear-gradient(to right, #ffa458, #bb3b0b);
    border: solid 0.01rem white;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    width: 10vw;
    padding: 2px;
    margin: 3px;
    cursor: pointer;

}

.user-buttons:hover {
    background: linear-gradient(to right, #bb3b0b, #ffa458);
    scale: 1.05;
}