.App 
{
  text-align: center;
}


.data-entry
{
  display: flex;
  flex-direction: column;
}

.users-list
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-item
{
  width:80px;
}