.event-title {
    margin: 0 5rem;
    font-size: 2rem;
    color: white;
    text-decoration: underline;
}

.user-name {
    font-size: 3vh;
    color: white;
    width: 20vw;
}

.user-button {
    background: linear-gradient(to right, #ffa458, #bb3b0b);
    border-radius: 0.2rem;
    font-size: 0.8rem;
    min-width: 3rem;
    cursor: pointer;
}

.user-button:hover {
    background: linear-gradient(to right, #bb3b0b, #ffa458);
}

.event-list {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-item {
    background-color: #FFA458;
    border: solid 2px #BA3B0A;
    border-radius: 2vw;
    margin: 1vw;
    width: 15vw;
    height: 15vw;
}

.event-button {
    background: linear-gradient(to right, #ffa458, #bb3b0b);
    border-radius: 0.2rem;
    font-size: 0.6rem;
    width: 3.5rem;
    cursor: pointer;
}

.event-button:hover {
    background: linear-gradient(to right, #bb3b0b, #ffa458);
    scale: 1.05;
}

.event-item {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.event-image {
    width: 16vh;
    height: 16vh;
    object-fit: contain;
}

.event-details {
    display: flex;
    flex-direction: column;
}